@import url("./import.css");


#header-div{
    /* background: #0267C4; */
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

#links{
    background: transparent;
    display: flex;
    gap: 20px;
    font-size: 1.6rem;
}

#header-div img{
    cursor: pointer;
}

.icon {
    
    font-size: 36px;
    color: #fff;
    text-align: center;
    text-decoration: none;
   
}



.icon .fab {
    padding: 1px;
    
    
}

.icon:hover {
   background: transparent;
    color: #029e3b;
    font-weight: 900;
    
}



/* Adiciona uma descrição para acessibilidade */
.icon[aria-label] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.buttonnzap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #01e675;
    position: fixed;
    bottom: 40px;
    right: 24px;
    border-radius: 50%;
    padding: 6px;
    
    z-index: 100;
}

.container {
    
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: auto 4%;
    
    top: 0;
    left: 0;
}

#banner.rolagem{
    background: red;
    padding: 20px 4%;
   
   
}

header i {
    font-size: 30px;
    color: #ffffff;
}

header ul {
    list-style: none;
}

#header {
    display: inline-block;
    margin: 0px 40px;
}


#links a {
    color: #0267C4;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease;

}


 #links a:hover{
    color: #d8684e;
    font-size: 19px ;

}
#mudanca{
    font-family: "Inria Sans", sans-serif;
    color: #d8684e;
}
.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 12px; 
    background-color: #d8684e;
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 1);
}

.btn-contato button:hover{
    background-color: #0267C4;
}

.container {
    width: 100%; /* Garante que o banner ocupe 100% da largura da tela */
    height: 100%; /* Garante que o banner ocupe 100% da altura da tela */
    background-image: url("../src/img/4k-tech-1eweq7h47kehxd7y.png");
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    border: 1px solid rgb(5, 4, 4);
}





.banner .span-banner {
    color: #008371;
    font-size: 3rem;
}



.contener-div{
    max-width: 800px;
    margin: 0 auto;

}


.banner-text {
    color: #0267C4;
    max-width: 800px;
    font-size: 3rem;
    margin: 315px auto;
    background: transparent;

    height: 800px;
    
  
    
}

.banner-text b{
    font-size: 3rem;
    color: #fff;
}

.btn-default{
    font-size: 2rem;
  

}

#nav_logo{
    color: rgb(212, 29, 29);
}



#mobile_btn_x{
    display: flex;
    border: none;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
#mobile_btn{
    width: 2rem;
    color: #fff;

}

#mobile_btn{
    display: none;
}

h3{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: auto;
    padding: 2rem;
    color: #0eff86;   
    
}

.ver-mais {
   color: #68b4e6;
    width: 700px;
    border-radius: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ver-mais a{
    color: #68b4e6;

    display: flex;
   
   font-size: 2rem;
   text-decoration: none;
    color: #fff;
}
.button_mais{
    border-radius: 34px;
    width: 200px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(235, 213, 17);
    cursor: pointer;
    transition: .4s ease;
}

.button_mais:hover{
    background-color: #0267C4;
}

#content-continuacao{
    background-color: transparent;
    border-radius: 12px;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4rem;
    
}

#content-continuacao img{
    display: flex;
    width: 75%;
    
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#assistencia{
    width: 90%;
    display: flex;
    margin: 10rem;
}
.assistencia-h3{
    border: 1px solid rgb(36, 28, 28);
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}


.span-c{
    border: 1px solid rgb(36, 28, 28);
    font-size: .8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    width: 100%;
    

}

.span-c p{
    width: 100%;
    
    margin: 0;
    text-align: center;
}

.span-c span{
    
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.saiba-mais {
    border-radius: 34px;
    width: 200px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(235, 213, 17);
    cursor: pointer;
    transition: .4s ease;
    font-size: 2rem;
    margin-top: 4rem;


}

.saiba-mais:hover{
    background-color: #0267C4;
}
.saiba-mais a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#marcar-atendimento{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid rgb(36, 28, 28);
    width: 322px;
}

#marcar-atendimento h3{
    margin-top: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.img-marca {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

.img-marca img{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 4rem;
    flex-direction: column;
}

.vantagens{
    width: 100%;
    display: flex;
    border: 1px solid rgb(36, 28, 28);
    margin: 2rem;
    text-align: center;
}


.vantagens p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

.maindiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.maindiv img{
    font-size: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.maindiv p{
    font-size: 1.5rem;
}

.icons-footer{
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
}

.icons-footer i{
    color: #fff;
    
    transition: .5s ease;
}

.icons-footer i:hover {
    color: #0267C4;
    font-size: 2.1rem;
}