



:root{

    --preto:#2b2d42;
    --text-iper: #d90429;
    --text-normal: #ef233c;
    --azul: #8d99ae;
    --branco: #edf2f4;

    --amarelo:#ffc300;
    --amarelo-fraco:#e89b44;
    --azul: #003566;
    --azul-escuro: #000814;

    --borde:1px red solid;
}